<footer class="outer">
    <div class="middle">
        <blockquote class="text">STAY UPDATED</blockquote>
        <form action="">
            <input type="email" id="email" name="email" placeholder="Enter your email">
        </form>
    </div>
    <div class="footer-links">
        <ul>
            <li><a href="">Contact</a></li>
            <li><a href="">Membership</a></li>
            <li><a href="">About Us</a></li>
        </ul>
    </div>
</footer>