<link rel="stylesheet" href="/stylesheets/homePage.css">
<footer class="outer">
    <div class="middle">
        <blockquote class="text">STAY UPDATED</blockquote>
        <div class="form-container">
            <form action="">
                <input type="email" id="email" name="email" placeholder="Enter your email">
                <button class="submit-btn"><img src="/images/arrow.png" alt="" id="icon-img"></button>
            </form>
        </div>
    </div>
    <div class="footer-links">
        <ul>
            <li><a href="">Contact</a></li>
            <li><a href="">Membership</a></li>
            <li><a href="">About Us</a></li>
        </ul>
    </div>
</footer>