<link rel="stylesheet" href="/stylesheets/homePage.css">
<header class="header-section">
    <nav class="site-nav">
        <a href="/" class="icon-link">
            <i class="icon_logo"></i>
            &nbsp;Blogeration
        </a>
        <ul class="nav-list">
            <li class="nav-iteam"><a href="" class="nav-link">Write</a></li>
            <li class="nav-iteam"><a href="" class="nav-link">Membership</a></li>
            <li class="nav-iteam"><a href="" class="nav-link">SignIn</a></li>
            <li class="nav-iteam"><a href="/signUp" class="nav-link" id="nav-button">Get Started</a></li>
        </ul>
    </nav>
</header>