<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header class="header-section">
        <nav class="site-nav">
            <ul class="nav-list">
                <li><a href="">Site name</a></li>
                <li><a href="">Write</a></li>
                <li><a href="">Membership</a></li>
                <li><a href="">SignIn</a></li>
                <li><a href="">Get Started</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>