<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Home</title>
</head>
<body>
    <header class="header-section">
        
        <nav class="site-nav">
            <a href="/" class="icon-link">
                <i class="icon_logo"></i>
                &nbsp;Blogeration
            </a>
            <ul class="nav-list">
                <li class="nav-iteam"><a href="" class="nav-link">Write</a></li>
                <li class="nav-iteam"><a href="" class="nav-link">Membership</a></li>
                <li class="nav-iteam"><a href="" class="nav-link">SignIn</a></li>
                <li class="nav-iteam"><a href="" class="nav-link" id="nav-button">Get Started</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>