.container{
    margin-top: 4em;
}

.container h1{
    margin-bottom: 1em;
    color: #ffb703;
}

label{
    font-weight:600;
}
.btn{
    margin-left: 40%;
    margin-top: 0.5em;
    padding: 1em 5em 1em 5em;
}

.img-input{
    margin-left: 19%;
    border: 1.5px solid rgb(226, 218, 218);
    padding: 1em 12em 1em 12em;
    border-radius: 0.3em;
}