<% layout('layouts/template_2') %> 
<title>Blogration | Create account</title>
<link rel="stylesheet" href="/stylesheets/createAccount.css">
<div class="container">
  <h1 class="text-center">Create account</h1>
  <form class="row g-3">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">First name</label>
      <input type="text" class="form-control"  id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Last name</label>
      <input type="text" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Mobile number</label>
      <input type="number" class="form-control" id="inputAddress">
    </div>
    
    <div class="col-md-6">
      <label for="inputCity" class="form-label">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-2">
      <label for="inputZip" class="form-label">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-outline-dark">Sign in</button>
    </div>
  </form>
</div>