<% layout('layouts/template_2') %>
    <link rel="stylesheet" href="/stylesheets/createBlog.css">
    <h1>Create your blog</h1>
    <div class="banner">
        <input type="file" accept="image/*" id="banner-upload" hidden>
        <label for="banner-upload" class="banner-upload-btn"><img src="/images/upload.png" class="banner-img"
                alt=""></label>
    </div>
    <div class="blog">
        <div class="blog-title">
            <textarea name="blogTitle" id="blog-title" class="blog-area" placeholder="Blog title ..."></textarea>
        </div>
        <div class="blog-text">
            <textarea name="" id="blog-text" class="blog-area"  placeholder="Write your blog here ...."></textarea>
        </div>
        <button>Publish</button>
    </div>