<% layout('layouts/template_2') %>
<link rel="stylesheet" href="/stylesheets/createBlog.css">
<div class="banner">
    <input type="file" accept="image/*" id="banner-upload" hidden>
    <label for="banner-upload" class="banner-upload-btn"><img src="/images/upload.png" class="banner-img" alt=""></label>
</div>
