<% layout('layouts/template') %> 
<link rel="stylesheet" href="/stylesheets/homePage.css">
<title>Blogeration | Home</title>

<main class="intro_section">
    <h1 class="intro">Blogeration <span class="intro-line">website that will help you to be curious</span></h1>
    <a class="btn" id="newAcc">Create Account</a>
</main>

<section>
    <div class="main">
        <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum tempore ipsum dolore numquam fugiat quis quae aperiam! Aspernatur adipisci quaerat blanditiis esse quibusdam quasi cumque officiis itaque, aliquam rerum odio!</blockquote>
        <img src="/images/4.png" alt="">
    </div>
</section>      