<% layout('layouts/template') %> 
<link rel="stylesheet" href="/stylesheets/homePage.css">
<title>Blogeration | Home</title>

<main class="intro_section">
    <h1 class="intro">Blogeration <span class="intro-line">website that will help you to be curious</span></h1>
    <a class="btn" id="newAcc">Create Account</a>
</main>
<section>
    <img src="/images/4.png" alt="">
</section>      