<% layout('layouts/template') %> 
<link rel="stylesheet" href="/stylesheets/homePage.css">
<title>Blogeration | Home</title>

<main class="intro_section">
    <h1 class="intro">Blogeration <span class="intro-line">website that will help you to be curious</span></h1>
    <a class="btn" id="newAcc" href="/createAccount">Create Account</a>
</main>

<section>
    <div class="main">
        <blockquote>Place where you have no boundry for your words. Learn, create and teach the upcoming generation. Left your words as statement and path for the upcoming generation or let this generation learn more.</blockquote>
        <img src="/images/4.png" alt="">
    </div>
</section>       