<title>Blogration | Sign Up</title>

<div class="container">
    <img src="/images/13.png" alt="img">
    <form action="" class="signupForm">
        <label for="user-name">
            Enter your name
        </label>
        <input type="text" id="user-name">
        <label for="user-email">
            Enter your email
        </label>
        <input type="number" id="user-email">
        <button>Create account</button>
    </form>
</div>