<title>Blogration | Sign Up</title>

<link rel="stylesheet" href="/stylesheets/signUp.css">
<div class="container">
    <img src="/images/13.png" alt="img">
    <form action="" class="signupForm">
        <label for="user-name">
            Name
        </label>
        <input type="text" id="user-name">
        <label for="user-email">
            Email
        </label>
        <input type="email" id="user-email">
        <button>Create account</button>
    </form>
</div>